In [1]:
import sqlite3

In [2]:
import pandas as pd

In [3]:
con = sqlite3.connect('vendas_db.db')

In [4]:
cur = con.cursor()

In [5]:
def executa_consulta(consulta):
    resultado = cur.execute(consulta).fetchall()
    resultado = pd.DataFrame(resultado)
    colunas = [i[0]for i in cur.description]
    if resultado.shape[1] > 0:
        resultado.columns = colunas
    print(resultado.shape)
    display(resultado.head(3))
    return resultado

In [9]:
executa_consulta('select * from sqlite_schema where type = "table"')

(9, 5)

,type,name,tbl_name,rootpage,sql
0,table,sellers,sellers,2,"CREATE TABLE ""sellers"" (\n""index"" INTEGER,\n ..."
1,table,product_category_name_translation,product_category_name_translation,59,"CREATE TABLE ""product_category_name_translatio..."
2,table,order_items,order_items,5077,"CREATE TABLE ""order_items"" (\n""index"" INTEGER,..."

,type,name,tbl_name,rootpage,sql
0,table,sellers,sellers,2,"CREATE TABLE ""sellers"" (\n""index"" INTEGER,\n ..."
1,table,product_category_name_translation,product_category_name_translation,59,"CREATE TABLE ""product_category_name_translatio..."
2,table,order_items,order_items,5077,"CREATE TABLE ""order_items"" (\n""index"" INTEGER,..."
3,table,customers,customers,9612,"CREATE TABLE ""customers"" (\n""index"" INTEGER,\n..."
4,table,geolocation,geolocation,12254,"CREATE TABLE ""geolocation"" (\n""index"" INTEGER,..."
5,table,order_payments,order_payments,27180,"CREATE TABLE ""order_payments"" (\n""index"" INTEG..."
6,table,order_reviews,order_reviews,29199,"CREATE TABLE ""order_reviews"" (\n""index"" INTEGE..."
7,table,products,products,33274,"CREATE TABLE ""products"" (\n""index"" INTEGER,\n ..."
8,table,orders,orders,61,"CREATE TABLE ""orders"" (\n""index"" INTEGER,\n ""..."

o atraso Ã© um problema real?

In [10]:
pedidos = executa_consulta('select order_id,\
                          order_purchase_timestamp,\
                          order_delivered_customer_date, \
                          order_estimated_delivery_date\
                          from orders')

(99441, 4)

,order_id,order_purchase_timestamp,order_delivered_customer_date,order_estimated_delivery_date
0,e481f51cbdc54678b7cc49136f2d6af7,2017-10-02 10:56:33,2017-10-10 21:25:13,2017-10-18 00:00:00
1,53cdb2fc8bc7dce0b6741e2150273451,2018-07-24 20:41:37,2018-08-07 15:27:45,2018-08-13 00:00:00
2,47770eb9100c2d0c44946d9cf07ec65d,2018-08-08 08:38:49,2018-08-17 18:06:29,2018-09-04 00:00:00

In [11]:
pedidos.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99441 entries, 0 to 99440
Data columns (total 4 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   order_id                       99441 non-null  object
 1   order_purchase_timestamp       99441 non-null  object
 2   order_delivered_customer_date  96476 non-null  object
 3   order_estimated_delivery_date  99441 non-null  object
dtypes: object(4)
memory usage: 3.0+ MB