In [1]:
import pandas as pd

In [2]:
base = pd.read_csv('n_seaice_extent_daily_v3_0.csv')

In [3]:
base.head(3)

,year,month,day,extent_10_6_sq_km,missing_10_6_sq_km,source_data,date
0,1978,10,26,10.231,0,['/ecs/DP1/PM/NSIDC-0051.001/1978.10.26/nt_197...,1978-10-26
1,1978,10,28,10.420,0,['/ecs/DP1/PM/NSIDC-0051.001/1978.10.28/nt_197...,1978-10-28
2,1978,10,30,10.557,0,['/ecs/DP1/PM/NSIDC-0051.001/1978.10.30/nt_197...,1978-10-30

In [4]:
base.isnull().sum()

year                  0
month                 0
day                   0
extent_10_6_sq_km     0
missing_10_6_sq_km    0
source_data           0
date                  0
dtype: int64

In [5]:
base.year.value_counts(ascending=False)

1996    366
2004    366
2012    366
2000    366
2020    366
2008    366
2016    366
1992    366
2015    365
2002    365
2003    365
2007    365
2005    365
2006    365
1998    365
2009    365
2010    365
2011    365
1999    365
2001    365
1997    365
2014    365
1995    365
1994    365
1993    365
1991    365
1990    365
1989    365
2017    365
2018    365
2019    365
2021    365
2022    365
2013    365
1988    354
1987    220
2023    204
1986    183
1984    183
1983    183
1981    183
1980    183
1979    182
1985    182
1982    182
1978     34
Name: year, dtype: int64

In [6]:
base.day.value_counts()

23    485
21    485
25    484
15    484
27    484
19    484
17    484
13    484
1     484
11    483
9     483
7     483
5     483
3     483
14    482
20    482
22    482
18    482
16    482
26    482
2     482
28    482
4     481
6     481
8     481
10    481
12    481
24    481
29    453
30    442
31    281
Name: day, dtype: int64

In [7]:
base['extent_10_6_sq_km'].value_counts()

14.404    10
14.381     9
15.396     8
14.321     8
15.107     7
          ..
7.383      1
7.503      1
7.693      1
7.957      1
7.485      1
Name: extent_10_6_sq_km, Length: 8143, dtype: int64

In [8]:
base['missing_10_6_sq_km'].value_counts()

0    14691
Name: missing_10_6_sq_km, dtype: int64

In [9]:
base2 = pd.read_csv(r'c:/Users/carol/Downloads/s_seaice_extent_daily_v3_0.csv')

In [10]:
base2.head(3)

,year,month,day,extent_10_6_sq_km,missing_10_6_sq_km,source_data,date
0,1978,10,26,17.624,0.0,['/ecs/DP1/PM/NSIDC-0051.001/1978.10.26/nt_197...,1978-10-26
1,1978,10,28,17.803,0.0,['/ecs/DP1/PM/NSIDC-0051.001/1978.10.28/nt_197...,1978-10-28
2,1978,10,30,17.670,0.0,['/ecs/DP1/PM/NSIDC-0051.001/1978.10.30/nt_197...,1978-10-30

In [11]:
base.year.value_counts()

1996    366
2004    366
2012    366
2000    366
2020    366
2008    366
2016    366
1992    366
2015    365
2002    365
2003    365
2007    365
2005    365
2006    365
1998    365
2009    365
2010    365
2011    365
1999    365
2001    365
1997    365
2014    365
1995    365
1994    365
1993    365
1991    365
1990    365
1989    365
2017    365
2018    365
2019    365
2021    365
2022    365
2013    365
1988    354
1987    220
2023    204
1986    183
1984    183
1983    183
1981    183
1980    183
1979    182
1985    182
1982    182
1978     34
Name: year, dtype: int64

In [12]:
base.extent_10_6_sq_km.mean()

11.263040092573684

In [13]:
base.extent_10_6_sq_km.mode()

0    14.404
Name: extent_10_6_sq_km, dtype: float64

In [14]:
base.extent_10_6_sq_km.median()

11.99

In [15]:
base.extent_10_6_sq_km.min()

3.34

In [16]:
base.extent_10_6_sq_km.max()

16.635